{% extends 'base.html' %}
{% block title %}{{_('request.internal.error')}}{% endblock %}
{% block header %}&nbsp;{% endblock %}
{% block content %}
<div class = "container-fluid" style="margin-top:100px;">
    <div class = "row">
        <div class = "col text-center">
            <h3><i class="fas fa-exclamation-triangle"></i>{{_('request.internal.error')}}<i class="fas fa-exclamation-triangle"></i></h3>
            <a href = "{{ url_for('index') }}"><i class="fas fa-arrow-left"></i>&nbsp;{{_('back.home')}}</a>
        </div>
    </div>
</div>
{% endblock %}