{% extends 'base.html'%}
{% block title %}待办事项{% endblock %}
{% block content %}
<!-- 动态切换页面 -->
<div class="container">
    <div class="row">
        <div class="col">
            <div id = "main"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ super() }}
    var csrf_token = "{{ csrf_token() }}"
    var url_for_login_page = "{{ url_for('auth.login') }}"
    var url_for_todo_page = "{{ url_for('item.todo') }}"
    var url_for_intro_page = "{{ url_for('main.intro') }}"
    {#
    var url_for_new_item = "{{ url_for('item.new_item') }}"
    var url_for_clear_item = "{{ url_for('item.clear_item') }}"
    var url_for_login = "{{ url_for('auth.login') }}"
    var url_for_register = "{{ url_for('auth.register') }}"
    var url_for_logout = "{{ url_for('auth.logout') }}"
    #}
    $(function(){
        //绑定hash change事件, 实现页面动态切换
        $(window).bind('hashchange', function(){
            var hash = window.location.hash.replace('#','')
            var url = null
            if(hash === 'login')
                url = url_for_login_page
            else if(hash === 'todo')
                url = url_for_todo_page
            else
                url = url_for_intro_page
            $.ajax({
                type:'get',
                url:url,
                success:function(data){
                    //显示页面
                    $('#main').hide().html(data).fadeIn(800)
                }
            })
        })
    })
{% endblock %}