{% extends 'base.html'%}
{% block title %}待办事项{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <!-- 动态切换页面 -->
            <div id = "main"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ super() }}
    var authenticated = false                               //是否登录
    {% if current_user.is_authenticated %}
        authenticated = true
    {% endif %}
    var csrf_token = "{{ csrf_token() }}"                   //CSRF令牌
    var url_for_login_page = "{{ url_for('auth.login') }}"  //登录页面
    var url_for_todo_page = "{{ url_for('item.todo') }}"    //待办页面
    var url_for_intro_page = "{{ url_for('main.intro') }}"  //系统主页
    var url_for_item_page = "{{ url_for('item.item') }}"     //新增修改待办事项
    {#
    var url_for_new_item = "{{ url_for('item.new_item') }}"
    var url_for_clear_item = "{{ url_for('item.clear_item') }}"
    var url_for_login = "{{ url_for('auth.login') }}"
    var url_for_register = "{{ url_for('auth.register') }}"
    var url_for_logout = "{{ url_for('auth.logout') }}"
    #}
    $(function(){
        //控制登录/登出按钮显示隐藏
        if(authenticated){
            $("#sys_login").hide()
            $("#sys_logout").show()
        }else{
            $("#sys_login").show()
            $("#sys_logout").hide()
        }
        //绑定登出事件
        $("#sys_logout").click(function(){
            $.get('/auth/exit', function(){
                $("#sys_login").show()
                $("#sys_logout").hide()
                route('intro')
            })
        })
        //ajax设置统一添加csrf验证
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', csrf_token);
                }
            }
        })
        //绑定hash change事件, 实现页面动态切换
        $(window).bind('hashchange', function(){
            var hash = window.location.hash.replace('#','')
            var url = null
            if(hash === 'login')
                url = url_for_login_page
            else if(hash === 'todo')
                url = url_for_todo_page
            else if(hash == 'item')
                url = url_for_item_page
            else
                url = url_for_intro_page
            $.ajax({
                type:'get',
                url:url,
                success:function(data){
                    //显示页面
                    $('#main').hide().html(data).fadeIn(800)
                }
            })
        })
        //默认执行intro界面
        if(window.location.hash === '')
            window.location.hash = authenticated?'#todo':'#intro'
        else
            $(window).trigger('hashchange')
    })
    //系统路由
    function route(to){
        if(to === 'login')
            window.location.hash = '#login'
        else if(to === 'register')
            window.location.hash = '#register'
        else if(to === 'todo')
            window.location.hash = '#todo'
        else if(to === 'item')
            window.location.hash = '#item'
        else if(to === 'intro')
            window.location.hash = '#intro'
    }
    //语言设置
    function set_locale(locale_url){
        $.get(locale_url, function(){
            $(window).trigger('hashchange')
        })
    }
{% endblock %}