<div class="row">
    <div class="col-12">
        <form class="needs-validation" novalidate id = "item_form">
            <div class="form-group">
              <label for="title">{{ _('item.title') }}</label>
              <input type="text" class="form-control" id="title" name="title" required {% if item %}value="{{item.title}}"{% endif %}>
              <div class="invalid-feedback" id = "title_feedback">&nbsp;</div>
            </div>
            <div class="form-group">
              <label for="body">{{ _('item.body') }}</label>
              <textarea class="form-control" id="body" name="body" rows="3" required>{% if item %}{{item.body}}{% endif %}</textarea>
              <div class="invalid-feedback" id = "body_feedback">&nbsp;</div>
            </div>
            <input type="hidden" id = "id" name="id" {% if item %}value="{{item.id}}"{%else%}value=""{% endif %}>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-info btn-sm" id = "save_btn"><i class="far fa-save"></i>&nbsp;&nbsp;{{_('common.save')}}</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick = "route('todo')" id = "cancel_btn"><i class="far fa-window-close"></i>&nbsp;&nbsp;{{_('common.cancel')}}</button>
            </div>
        </div>
    </div>
</div>
<script>
    var title_ok = false, body_ok = false
    $(function(){
        $("#save_btn").click(function(){
            if($.trim($("#title").val()) != '')
                title_ok = true
            if(!title_ok){
                $("#title").removeClass('is-valid')
                $("#title").addClass('is-invalid')
                $('#title_feedback').html('{{ _('item.title.empty') }}')
            }
            if($.trim($("#body").val()) != '')
                body_ok = true
            if(!body_ok){
                $("#body").removeClass('is-valid')
                $("#body").addClass('is-invalid')
                $('#body_feedback').html('{{ _('item.body.empty') }}')
            }
            if(title_ok && body_ok){
                $.ajax({
                    type:'post',
                    url:'/item/save',
                    data:JSON.stringify({title:$.trim($("#title").val()), body:$.trim($("#body").val()), id:$("#id").val()}),
                    contentType:'application/json;charset=UTF-8',
                    success:function(data){
                        if(data.code == 1){
                            route('todo')
                        }else{
                            $.alert({
                               type:'red',
                               title:'{{_('sys.info')}}',
                               content: data.message,
                               onClose:function(){
                                    route('login')
                               }
                           })
                        }
                    },
                    error:function(){
                        $.alert({
                           type:'red',
                           title:'{{_('sys.error')}}',
                           content: '{{_('system.common.error')}}',
                           onClose:function(){}
                       })
                    }
                })
            }
        })
        $("#title").keyup(function(){
            if($.trim($(this).val()) != ''){
                $(this).removeClass('is-invalid')
                $(this).addClass('is-valid')
                $('#title_feedback').html('&nbsp;')
                title_ok = true
            }else{
                $(this).removeClass('is-valid')
                $(this).addClass('is-invalid')
                $('#title_feedback').html('{{ _('item.title.empty') }}')
            }
        })
        $("#body").keyup(function(){
            if($.trim($(this).val()) != ''){
                $(this).removeClass('is-invalid')
                $(this).addClass('is-valid')
                $('#body_feedback').html('&nbsp;')
                body_ok = true
            }else{
                $(this).removeClass('is-valid')
                $(this).addClass('is-invalid')
                $('#body_feedback').html('{{ _('item.title.empty') }}')
            }
        })
    })
</script>