<div class="row">
    <div class="col">
    {% if items %}
        {% for item in items %}
            <div class="list-group">
                <div class="list-group-item">
                    <small>{{ item.title }}&nbsp;&nbsp;{{format_time(item.timestamp)}}</small>
                    <hr>
                    <p>
                        &nbsp;&nbsp;
                        <input type="checkbox" class="form-check-input" disabled {% if item.done %}checked{% endif %}>
                        {{ item.body }}
                        <hr>
                        <small class="float-right">
                            <button class="btn btn-sm btn-link" onclick="finish('{{ item.id }}')"><i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-sm btn-link" onclick="edit('{{ item.id }}')"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-sm btn-link" onclick="delete('{{ item.id }}')"><i class="fas fa-trash-alt"></i></button>
                        </small>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <small>暂无待办事项!!!</small>&nbsp;&nbsp;<button class="btn btn-link btn-sm" id = "add"><i class="fas fa-plus"></i>&nbsp;&nbsp;添加</button>
    {% endif %}
    </div>
</div>
<script>
    $(function(){
        $("#add").click(function(){
            route('item')
        })
    })
    //标记完成
    function finish(item_id){
        alert('item_id')
        location.reload()
    }
    //修改待办
    function edit(item_id){
        alert('item_id')
        location.reload()
    }
    //删除待办
    function delete(item_id){
        alert('item_id')
        location.reload()
    }
</script>