<div class="row">
    <div class="col text-right">
        <button class="btn btn-outline-success btn-sm" onclick="add()"><i class="fas fa-plus"></i>&nbsp;&nbsp;{{_('item.add')}}</button>
    </div>
</div><br>
<div class="row">
    <div class="col">
    {% if items %}
        {% for item in items %}
            <div class="list-group">
                <div class="list-group-item">
                    <small>{{ item.title }}&nbsp;&nbsp;{{format_time(item.timestamp)}}</small>
                    <hr>
                    <p>
                        &nbsp;&nbsp;
                        <input type="checkbox" class="form-check-input" disabled {% if item.done %}checked{% endif %}>
                        {{ item.body }}
                        <hr>
                        <small class="float-right">
                            <button class="btn btn-sm btn-link" onclick="edit('{{ item.id }}')" {%if item.done %}disabled{%endif%}><i class="fas fa-edit"></i></button>
                            <button class="btn btn-sm btn-link" onclick="finish('{{ item.id }}')" {%if item.done %}disabled{%endif%}><i class="fas fa-check-circle"></i></button>
                            <button class="btn btn-sm btn-link" onclick="trash('{{ item.id }}')"><i class="fas fa-trash-alt"></i></button>
                        </small>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <small>{{_('item.empty')}}!!!</small>
    {% endif %}
    </div>
</div>